body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 2em;
}
a{
    text-decoration-line: none;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #c6a790;
    height: auto;
}
header img{
    width: 100px;
    height: 100px;
}
 nav{
    display: flex;
    flex-direction: row;
}
 nav a{
    padding:20px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: #1a2235;
    font-size: 20px;
}
nav a:hover{
    background-color: #d66b64;
}
 #show{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
 #show img{
     width: 100%;
     height: auto;
}
#show .pic{
     width: 60%;
     margin-top: 100px;
 }
#show h1{
    text-align: center;
    width: 40%;
    padding-top: 200px;
    text-transform: uppercase;
    color: #1a2235;
    font-size: 35px;
    line-height: 2em;
}
 #show .color{
    color: #d66b64;
}
 main{
     padding: 0;
     margin: 0;
     width: 100%;
 }
 .btn {
    text-align: center;
 }
#part1{
    background-color:#ddc8ac;
    padding-bottom: 50px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.txt{
    width: 70%;
}
#part1 .pic{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
#part1 img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-top: 100px;
}
button{
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    width: auto;
}
#part1 button{
    background-color: #1a2235;
    color: white;
}
#part1 button:hover{
    background-color: #ddc8ac;
    color: black;
    border: solid 2px #d66b64;
}
 #part2{
    background-color: white;
    color: black;
     padding-bottom: 100px;
}
 #part2 .content{
     flex-direction: column;
 }
#causes{
    display: flex;
    flex-direction: column;
}
#part2 h2{
    width: 100%;
    color: #d66b64;
    text-transform: uppercase;
    text-align: center;
}
 #part2 button{
    background-color: #d66b64;
    color: #1a2235;
    border: solid 2px #d66b64;
}
 #part2 button:hover{
    background-color: white;
    color: black;
}
 #part3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ddc8ac;
     padding-bottom: 25px;
}
 #part3 img{
    width: 80%;
     height: auto;
     padding-top: 50px;
}
 #part3 .solution{
    width: 50%;
}
 #part3 .pic{
     width: 25%;
     margin-right: auto;
     margin-left: auto;
 }
#part3 button{
    background-color: #1a2235;
    color: white;
}
#part3 button:hover{
    background-color: #ddc8ac;
    color: black;
    border: solid 2px #d66b64;
}
footer{
    background-color:#1a2235;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer .part1{
    display: flex;
    flex-direction: column;
    width: 100px;

}
footer .part2{
    margin-top: 50px;
    color: #d66b64;
}
footer .part1 img{
    padding-top: 35px;
}
footer .part1 a{
    color: #d66b64;
}
footer .part3{
    width: 150px;
}
footer button{
    background-color: #d66b64;
    color: #1a2235;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
footer button:hover{
  color: #ddc8ac;
    border: #ddc8ac solid 2px;
    background-color: #1a2235;
}
footer img{
    width: 100%;
}

@media (max-width: 840px){
    #show h1{
        padding-top: 200px;
    }
    #show img{
        padding-top: 50px;
    }
    #part1 .content{
        flex-direction: column;
    }
    #part1 .txt{
        width: 100%;
    }
    #part1 .pic{
        width: 80%;
    }
}
@media (max-width: 750px){
    #part3 .content{
        flex-direction: column;
    }
    #part3 .solution{
        width: 100%;
    }
    #part3 .pic{
        width: 300px;
    }
}
@media (max-width: 650px){
    footer{
        flex-direction: column;
        align-items: center;
    }
    footer .part2{
        margin-bottom: 30px;
        margin-top: 20px;

    }
}
@media (max-width: 641px){
    header {
        flex-direction: column;
    }
    header img{
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        padding-top: 25px;
    }
    nav a{
        padding: 10px;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    #show{
        flex-direction: column;
    }
    #show h1{
        width: 100%;
        padding-top: 50px;
    }
   #show .pic{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
    }
}
@media (max-width: 415px){
    footer  .part2{
        width: 125px;
    }
    footer .part1{
        text-align: center;
    }
    footer .part1 img{
        margin-left: auto;
        margin-right: auto;
    }
    footer .part3{
        width: 125px;
    }
}
@media (max-width: 350px){
    header{
        max-height: 200px;
    }
   nav{
       flex-direction: column;
   }
    nav a{
        padding: 4px 0 4px 0;
        text-align: center;
        width: 100%;
    }
    nav a:nth-child(even){
        background-color: #ddc8ac;
    }
    nav a:nth-child(odd){
        background-color: white;
    }
    nav a:hover{
        background-color: #d66b64;
    }
    #show h1{
        padding-top: 50px;
        font-size: 25px;
    }
    #show .pic{
        width: 200px;
    }
    #show img{
        padding-top: 0;
    }
    #part3 .pic{
        width: 80%;
    }
}
@media (max-width: 230px){
    #part3 .pic{
        width: 120px;
    }
   h2, #show h1{
       font-size: 18px;
   }
   p, ul{
       font-size: 14px;
   }
   button{
       padding: 5px;
       font-size: 14px;
   }
   #show .pic{
       width: 90%;
   }

}